<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}" >

<th:block layout:fragment="content_css">
    <!--html 파일이 열릴때 같이 실행되는 css-->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">

    <input type="hidden" th:value="${updateItemCode}" id="updateItemCode">
    
    <div class="row container">
        <div class="col">
            <div class="row">
                <div class="col-7">
                    <div class="row">
                        <div class="col">
                            <h3>상품 목록</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-end" style="color: red;">
                        <h6>* 총 30개의 상품이 등록되어 있습니다.</h6>
                        </div>
                    </div>
                    <table class="table table-stripeed table-hover table-striped align-middle text-center">
                        <colgroup>
                            <col width="5%">
                            <col width="15%">
                            <col width="*%">
                            <col width="10%">
                            <col width="20%">
                        </colgroup>
                        <thead>
                            <tr>
                                <td>No</td>
                                <td>상품코드</td>
                                <td>상품명</td>
                                <td>재고</td>
                                <td>상태</td>
                            </tr>
                        </thead>
                        <th:block th:each="item, state : ${itemList}">
                            <tr th:onclick="getDetail([[${item.itemCode}]])">
                                <td>[[${#lists.size(itemList) - state.index}]]</td>
                                <td>[[${item.itemCode}]]</td>
                                <td>[[${item.itemName}]]</td>
                                <td>[[${item.itemStock}]]</td>
                                <td>[[${item.strStatus}]]</td>
                            </tr>
                        </th:block>
                    </table>
                </div>
                <div class="col-5 detail-div">
                    
                </div>
            </div>         
        </div> 
    </div>
  
  <!-- Modal -->
  <div class="modal fade" id="img-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <img src="" width="100%">
        </div>
      </div>
    </div>
  </div>

</th:block>

<th:block layout:fragment="content_js">
    <!--html 파일이 열릴때 같이 실행되는 js-->
    <script src="/js/content/admin/item_status_change.js"></script>
</th:block>
</html>