<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<style>

</style>
</head>
<body>
<form action="r2" method="post">
    <h1>이력서 등록</h1>
        <div>
            <h4>이름</h4>
        </div>
        <div>
            <input type="text" name="name">
        </div>
        <div>
            <h4>연락처</h4>
        </div>
        <div>
            <input type="text" name="tel" placeholder="숫자만 입력하세요">
        </div>
        <div>
            <input type="submit" value="등록하러 가기">
        </div>
</form>
</body>
</html>