<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<style>
    textarea{
        resize: none;
    }
</style>
</head>
<body>
<div>
<form action="/updatePost" method="post">
    <table>
        <tr>
            <td>글번호</td>
            <td><input type="text" name="boardNum" th:value="${reserve.boardNum}" readonly></td>
        </tr>
        <tr>
            <td>제목</td>
            <td><input type="text" name="boardTitle" th:value="${reserve.boardTitle}"></td>
        </tr>
        <tr>
            <td>작성자</td>
            <td><input type="text" name="writer" th:value="${reserve.writer}" readonly></td>
        </tr>
        <tr>
            <td>작성일</td>
            <td><input type="text" name="createDate" th:value="${reserve.createDate}" readonly></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><textarea name="boardContent" cols="30" rows="10">[[${reserve.boardContent}]]</textarea></td>
        </tr>
    </table>
    <input type="submit" value="수정">
</form>
</div>
</body>
</html>