<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/car_layout}" >

<th:block layout:fragment="content_css">
    
</th:block>

<th:block layout:fragment="contentFragment">
    <div class="row">
        <div class="col" style="margin-left: 250px; margin-top: 50px;">
            <form action="/car/insertSellInfo" method="post">
                <table class="talble">
                    <tr>
                        <td>구매자명</td>
                        <td colspan="3"><input class="form-control d-grid" type="text" name="customerName"></td>
                    </tr>
                    <tr>
                        <td>
                            색상
                        </td>
                        <td>
                            <select class="form-select" name="salesColor">
                                <option value="블랙">블랙</option>
                                <option value="화이트">화이트</option>
                                <option value="실버">실버</option>
                                <option value="레드">레드</option>
                            </select>
                        </td>
                        <td>모델</td>
                        <td>
                            <select class="form-select" name="carNumber">
                                <th:block th:each="carInfo : ${carsInfo}">
                                    <option th:value="${carInfo.carNumber}">[[${carInfo.carName}]]</option>
                                </th:block>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>연락처</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <input class="form-control" type="text" name="customerTel">
                        </td>
                        
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input type="submit" value="등록" class="btn btn-primary">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    
</th:block>
</html>